yandex_version                  = "0.35"
yandex_service_account_key_file = "../../../terraform-key.json"
yandex_cloud_id                 = "b1g8noglv0391j66u72k"
yandex_folder_id                = "b1gh832i12j04smq1kh0"
yandex_subnet_id                = "e9ba0e36dle6n9ts1vg7"
yandex_image_id                 = "fd8esltk593sb2uid1k8"
yandex_platform_id              = "standard-v2"
public_key_path                 = "~/.ssh/yc-otus-appuser.pub"
private_key_path                = "~/.ssh/yc-otus-appuser"
