yandex_version                  = "0.35"
yandex_service_account_key_file = "../../key.json"
yandex_cloud_id                 = "as"
yandex_folder_id                = "as"
yandex_subnet_id                = "as"
yandex_image_id                 = "as"
yandex_platform_id              = "standard-v2"

public_key_path = "asas"
private_key     = "asasr"
